body{
	width: 100%;
}
header .login{
	width: 350px;
	height: 350px;
	border: 1px solid red;
}
/*切换里面的盒子边框*/
.index-select-box-container{
	border: solid 1px #CCC;
	margin: 0 auto;
	width: 100%;
	box-shadow: 3px 4px 2px #b3b7bd;
	box-radius:5px;
	padding:20px 30px 50px 30px;
}
.index-select-box-container .el, .index-select-box-container .jobl{
	margin:0 auto;
	padding:0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.index-select-box-container .el.title ,.index-select-box-container .jobl.title{
	font-weight: bold;
}
#Jobfair .index-select-box-container .el li{
	display: block;
	width: 12.5%;
	float: left;
	list-style: none;
	border: solid 1px #4c8ede;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}
#Joblists .index-select-box-container .jobl li{
	display: block;
	width: 8.3%;
	float: left;
	list-style: none;
	border: solid 1px #4c8ede;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}
.index-select-box-container .el li p, .index-select-box-container .jobl li p{
	display: inline-block;
	padding: 0;
	margin: 0;
	position: relative;
}


/*职位详情页面*/
.position-head {
    background-color: #ebf0ef;
    padding: 30px 0 11px;
    width: 100%;
    min-width: 1024px;
}
.position-head .position-content {
    position: relative;
    width: 1024px;
    height: 174px;
    margin: 0 auto;
}
.position-head .position-content .position-content-l {
    float: left;
}
.position-head .position-content .position-content-l .job-name {
    margin: 0 0 13px;
}
.position-head .position-content .position-content-l .job-name .company {
    margin: -2px 0 8px 0;
    font-size: 14px;
    color: #555;
    position: relative;
    left: 2px;
}
.position-head .position-content .position-content-l .job-name .name {
    position: relative;
    font-size: 36px;
    color: #333;
    line-height: 36px;
}
.position-head .position-content .position-content-l .job_request {
    margin-top: 2px;
    font-size: 18px;
    color: #555;
}
.position-head .position-content .position-content-l .job_request p {
    margin-bottom: 8px;
}
.position-head .position-content .position-content-l .job_request p .salary {
    color: #fd5f39;
}
.position-head .position-content .position-content-l .job_request .position-label .labels {
    float: left;
    height: 22px;
    margin-right: 8px;
    padding: 0 10px;
    line-height: 22px;
    background-color: #fff;
    color: #70797b;
    font-size: 12px;
    border-radius: 10px;
}
.position-head .position-content .position-content-l .job_request .publish_time {
    padding-top: 10px;
    font-size: 14px;
    color: #999;
}
.position-head .position-content .position-content-r {
    position: absolute;
    right: 0;
    bottom: 11px;
}
.position-head .position-content .position-content-r .position-deal {
    position: relative;
}
.position-head .position-content .position-content-r .position-deal .resume-deliver {
    position: relative;
    float: right;
}
.position-head .position-content .position-content-r .position-deal .resume-deliver .btn_apply {
    margin-left: 17px;
    padding: 0 30px;
    border: 1px solid #00b38a;
    border-radius: 3px;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    background-color: #00b38a;
    color: #fff;
    cursor: pointer;
}
.position-head .position-content .position-content-r .position-deal .resume-deliver .btn_sended {
    margin-left: 17px;
    padding: 0 30px;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    background-color: #bfbfbf;
    color: #fff;
    cursor: default;
}
.fr {
    float: right;
}
.position-head .position-content .position-content-r .resume-select {
    margin: 16px 0 11px;
}
.position-head .position-content .position-content-r .resume-select .resume {
    float: right;
    margin-left: 34px;
    cursor: pointer;
    line-height: 28px;
}
.position-head .position-content .position-content-r .resume-select .resume span {
    color: #333;
    text-decoration: underline;
}
a {
    color: #555;
    background-color: transparent;
    text-decoration: none;
}
.clearfix:after {
    clear: both;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.ceil {
    display: none;
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: rgba(235,240,239,.9);
    overflow: hidden;
}
.ceil .ceil-content {
    width: 1024px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    font-size: 18px;
}
.ceil .ceil-content .ceil-job {
    font-weight: 700;
    color: #333;
}
.ceil .ceil-content .ceil-salary {
    font-weight: 700;
    color: #fd5f39;
}
.ceil .ceil-content .ceil-right {
    display: inline-block;
    float: right;
    height: 70px;
    position: relative;
    padding: 12px 0;
}

/*企业详情页面*/

.top_info {
    padding: 34px 0 0;
    background: #ebf0ef;
}
.top_info .top_info_wrap {
    position: relative;
    width: 1024px;
    height: 164px;
    margin: 0 auto;
    border: 1px solid #eaeaea;
    background: #fff;
}
.top_info .top_info_wrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 164px;
    height: 164px;
    border-right: 1px solid #eaeaea;
}
.top_info .top_info_wrap .company_info {
    margin-left: 165px;
}
.company_main {
    height: 81px;
    padding: 20px 20px 0;
    overflow: hidden;
}
.company_main h1 {
    float: left;
    max-width: 560px;
    max-height: 33px;
    padding-right: 2px;
    margin: 0;
    line-height: 33px;
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-weight: 400px;
}
.company_main h1 a {
    line-height: 33px;
    color: #fd5f39;
}
.company_main .company_word {
    margin-top: 20px;
    font-size: 16px;
    clear: both;
}
.company_data {
    height: 63px;
    background: #fafafa;
    overflow: hidden;
}
.company_data ul {
    margin-left: -1px;
    padding: 8px 0;
    font-size: 0;
}
.company_data li {
    display: inline-block;
    width: 120px;
    border-left: 1px solid #ededed;
    text-align: center;
}
.company_data li strong {
    font-size: 18px;
    font-weight: 100;
    color: #555;
}
.company_data li span {
    display: inline-block;
    vertical-align: middle;
    line-height: 18px;
    font-size: 12px;
    color: #b7b7b7;
}
.company_data span.tip {
    width: 20px;
    height: 15px;
    margin-left: -6px;
    vertical-align: -4px;
    background: url() right center no-repeat;
}
#main_container {
    width: 1024px;
    margin: 40px auto;
    overflow: hidden;
    color: #555;
    font-size: 14px;
    position: relative;
}
#container_left {
    float: left;
    width: 710px;
    padding-right: 35px;
}
.item_container {
    position: relative;
    width: 100%;
    min-height: 20px;
    padding: 40px 0;
    margin-top: 10px;
    border-top: 1px solid #e8e8e8;
}
.item_container .item_ltitle {
    position: absolute;
    top: -15px;
    left: 0;
    padding-right: 16px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
}
#company_products .product_content {
    height: 180px;
}
#company_products .product_content img {
    position: absolute;
    width: 300px;
    height: 180px;
    border: 1px solid;
}
#company_products .product_content .product_details {
    position: relative;
    margin-left: 315px;
}
#company_products .product_content .product_details h4 {
    float: left;
    width: 100%;
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
}
#company_products .product_content .product_details li {
    display: inline-block;
    padding: 0 10px;
    margin-right: 5px;
    border: 1px solid #e5e5e5;
}
#company_products .product_content .product_details .product_profile {
    height: 110px;
    margin-top: 10px;
    overflow-y: hidden;
    line-height: 22px;
    color: #555;
}
#company_products .product_item+.product_item {
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px dashed #e5e5e5;
}
#company_intro .company_intro_text {
    display: none;
    min-height: 20px;
    margin-bottom: 30px;
    overflow-y: hidden;
    color: #555;
}
#company_intro .company_intro_text .text_over {
    display: inline-block;
    padding-right: 15px;
    background: url() right bottom no-repeat;
    color: #00b38a;
    text-decoration: underline;
    cursor: pointer;
}

.item_container .item_ltitle {
    position: absolute;
    top: -15px;
    left: 0;
    padding-right: 16px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
}
#container_right {
    float: right;
    width: 245px;
}
#basic_container .item_content>ul>li {
    height: 30px;
    line-height: 30px;
}
.company_navs_wrap {
    width: 1024px;
    height: 54px;
    margin: 0 auto;
}
.company_navs_wrap ul {
    float: left;
}
.company_navs_wrap li.current {
    border-bottom: 2px solid #00b38a;
}
.company_navs_wrap li.current a {
    color: #333;
}
.company_navs_wrap li {
    display: inline-block;
    height: 50px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    margin-right: 35px;
    position: relative;
}
.company_navs_wrap li a {
    display: block;
    padding: 12px 2px;
    font-size: 18px;
    color: #999;
}
.posfilterlist_container .item_con_list {
    margin: 20px 0 50px;
}
.posfilterlist_container .item_con_list .con_list_item {
    position: relative;
    height: 80px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ededed;
    font-size: 14px;
}
.posfilterlist_container .item_con_list .item_title_date {
    margin-bottom: 10px;
    height: 24px;
    line-height: 24px;
    zoom: 1;
    /*border: 1px solid;*/
}
.posfilterlist_container .item_con_list .item_title_date .item_title {
    float: left;
    font-size: 16px;
    color: #00b38a;
    max-width: 390px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.posfilterlist_container .item_con_list .item_title_date .item_date {
    float: right;
    color: #999;
}
.posfilterlist_container .item_con_list .item_detail {
    zoom: 1;
    /*line-height: 40px;*/
    /*border: 1px solid;*/
}
.posfilterlist_container .item_con_list .item_detail .item_salary {
    float: left;
    font-size: 16px;
    color: #fd5f39;
}
.posfilterlist_container .item_con_list .item_detail .item_desc {
    margin-left: 20px;
    color: #333;
    line-height: 26px;
}
.posfilterlist_container .item_con_list .con_list_item .left_border {
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: #00b38a;
}
.pages .first, .pages .last {
    width: 40px;
}
.pages .prev, .pages .next {
    width: 60px;
}
.pages .disable {
    background-color: #fff;
    color: silver;
    cursor: default;
}
/*.pages .current {
    font-weight: 700;
}*/
.pages span:hover, .pages .current {
    border: 1px solid #00b38a;
    background-color: #00b38a;
    color: #fff;
}
.pages span {
    display: inline-block;
    min-width: 15px;
    height: 25px;
    margin: 3px;
    padding: 0 5px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    line-height: 25px;
    text-align: center;
    color: #555;
    cursor: pointer;
}



