/*职位发布列表*/
.job_list_ul{
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
}
.job_list_container, .job_preview_container{
    border:1px solid #CCC;
    margin: 0 auto;
    width: 80%;
    box-shadow:3px 4px 2px #b3b7bd;
    box-radius:5px;
    padding:20px 30px 50px 30px;
}
.job_list_ul.first{
    font-weight: bold;
}
.job_list_ul li{
    display: block;
    float: left;
    width:14%;
    border: 1px solid #4c8ede;
}
.job_list_ul_modify, .job_list_ul_cancel , .job_list_ul_delete{
    cursor: pointer;
}
.job_list_ul_modify:hover, .job_list_ul_cancel:hover , .job_list_ul_delete:hover{
    border:1px solid #CCC;
}
.new_job_list{
    position: absolute;
    bottom: 0;
    right: 0;
}